body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

    /* background: #2c2c2e; */
}
.waether-app-container{
    background: #1c1c1e;
    padding: 46px;
    border-radius: 30px;
    width: 650px;
    height: 450px;
    margin: 4em;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#2c2c2e;
    border-radius: 24px ;
    width: 100%;
}
.searchbar{
    /* padding: 10px 20px; */
    padding: 0.8em;
    border: none;
    border-radius: 24px;
    outline: none;
    background-color:#2c2c2e;
    width: 100%;
    font-size: 14px;
    color: rgba(250, 250, 250, 0.6);
    margin-left: .5em;


}
::placeholder{
font-size: 15px;
color: rgba(250, 250, 250, 0.6);
}
.search-btn{
    /* margin-left:5px ; */
    margin: .5em;
    height: 2.5em;
    width: 2.5em;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color:#2c2c2e;
    fill: rgba(250, 250, 250, 0.6);
    cursor: pointer;
}
.weather{
    margin-top: 40px;
}
h2{
    color: white;
    text-align: left;
}
.text{
    color: white
}
.temp{
    font-size: 80px;
    font-weight: 800;
    margin-right: 40px;
}
.weather-details{
    display: flex;

    justify-content: space-between;

}
.icon{
    height: 60px;
    width: auto;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/3 ;
}
.icons{
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/3 ;
    margin-top: -10px; 
    height: 90px;
    filter: brightness(0) invert(1);
    
}

.temp-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 350px;
    border-radius: 18px;
    background: #2c2c2e;
    padding: 20px;
}
.description{
    font-weight: 500;
    width: 100%;
    text-align: left;
    grid-column: 2/2;
    grid-row: 1/2 ;
    font-size: 18px;
    
}
.more-description{
    grid-column: 2/4;
    grid-row: 2/3;
    font-size: 11px;
    justify-content: center;
    text-align: left;
    width: ch;
}

.future-forecast{
    /* width: 100%; */
    background: #2c2c2e;
    height: 130px;
    margin-top: 50px;
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 10px;
}
.forecast{
    display: flex;
    color: white;
    display: flex;
    flex-direction: column;

}
.date{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
}
.small-icons{
    display: flex;
    justify-content: center;
    height: 29px;
    margin-top: 12px;
}
.sm-icon{
    height: 50px;
    filter: brightness(2) invert(1);
}
.forecast-temp{
    text-align: center;
    margin-top: 36px;
    font-weight: 500;
    font-size: 15px;
}
.forecast:hover{
    background:#1c1c1e;
    border-radius: 18px;

}